@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-color: #4d4d4d;
    --nav-color: white;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #ce6c3f;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 10000;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    text-decoration: none;
    color: white;
    background-color: #24132c;
    padding: 15px;
    border-radius: 25px;
    transition: .4s;
}

.logo:hover{
    transform: translateY(-10px);
    transition: .4s;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header nav ul li a:hover {
    color: #4d4d4d;
    transition: all ease-in-out .1s;
}

header nav ul li {
    list-style: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #24132c;
    z-index: 1000;
}

section img {
    position: absolute;
    left: 0;
    object-fit: cover;
    width: 100%;
}

#sun {
    transform: scale(-0.6);
}

#copy {
    position: absolute;
    color: white;
    font-size: 60px;
}

.sec {
    position: relative;
    height: 100vh;
    color: white;
    background-color: #24132c;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third, .fourth {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(180deg, #ce6c3f, #d58d36);
    padding-bottom: 5rem;
}

.fourth {
    position: relative;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(180deg, #d58d36, #d4a770);
    padding-bottom: 3rem;
}

.blog-header {
    margin-bottom: 30px;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 100vh;
}


.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 0 20px 0 20px;
    width: 300px;
    height: 400px;
    background-color: #24132c;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #ce6c3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #d58d36;
    transition: all ease-in-out .1s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: white;
    background-image: linear-gradient(90deg, #24132c, #432352);
}